<!-- iwai 編集中 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/notMemberLayout">
<head>
<meta charset="UTF-8">
<title>店舗情報更新</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/Style.css}" />
</head>
<body>
<div layout:fragment="notMember_contents">
	<div class="login">
		<div class="table-responsive">
			<form th:action="@{/admin/store/update}" th:object="${store}" method="post">
			<p>更新したい項目を書き換えてください</p>
				<table class="table table-striped table-bordered">
					<tr>
						<td>店舗名</td>
						<td><input type="text" name="store_name"
							th:value="*{store_name}" th:field="*{store_name}"
							style="width: 200px;">
							<span th:if="${#fields.hasErrors('store_name')}"
							th:errors="*{store_name}"
							th:errorclass="error-field">error!</span>
						</td>
					</tr>
					<tr>
						<td>住所</td>
						<td><input type="text" name="storeLocation"
							th:value="*{store_location}" th:field="*{store_location}"
							style="width: 200px;">
							<span th:if="${#fields.hasErrors('store_location')}"
							th:errors="*{store_location}"
							th:errorclass="error-field">error!</span>
						</td>
					</tr>
				</table>
				<input type="submit" value="更新する" class="btn btn-outline-secondary"
					style="width: 200px; border-radius: 8px;">
			</form>
			<form action="/admin/alldisplay" method="post">
				<input type="submit" value="管理者メニューへ戻る" class="btn btn-outline-secondary"
					style="width: 200px; border-radius: 8px;">
			</form>
		</div>
	</div>
</div>
</body>
</html>