<!-- iwai 編集中 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/notMemberLayout">
<head>
<meta charset="UTF-8">
<title>会員情報削除</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div layout:fragment="notMember_contents">
	<div class="login">
		<div class="table-responsive">
			<p>以下の情報を削除しますか？</p>
			<table class="table table-striped table-bordered">
				<tr>
					<th>ユーザーID</th>
					<th>メールアドレス</th>
					<th>名前</th>
					<th>パスワード</th>
					<th>権限</th>
					<th>ユーザー削除フラグ</th>
				</tr>
				<tr th:object="${session.user}">
					<td th:text="*{user_id}"></td>
					<td th:text="*{user_mail}"></td>
					<td th:text="*{user_name}"></td>
					<td th:text="*{password}"></td>
					<th:block th:switch = "*{authority}">
					<td th:case=1>管理者</td>
					<td th:case=2>一般会員</td>
					<td th:case=3>経営者</td>
					</th:block>
					<td th:text="*{user_del_flg == 0} ? 有効:削除済"></td>
				</tr>
			</table>
			<form th:action="@{/admin/user/delete/success}" th:object="${session.user}" method="post">
				<input type="submit" value="この会員を削除する" class="btn btn-outline-secondary"
					style="width: 200px; border-radius: 8px;">
			</form>
			<form action="/admin/alldisplay" method="post">
				<input type="submit" value="管理者メニューへ戻る" class="btn btn-outline-secondary"
					style="width: 200px; border-radius: 8px;">
			</form>
		</div>
	</div>
</div>
</body>
</html>