<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/notMemberLayout">
<head>
<meta charset="UTF-8">
<title>完了画面</title>
</head>
<body>
 <div layout:fragment="notMember_contents">
  <div class="login">
  <p th:text="${msg} + 'が完了しました。'"></p>
  <form th:action="@{${url}}" method="post">
  	<input type="submit" th:value="${btn}" class="btn btn-outline-secondary btn-sm">
  </form>
  </div>
 </div>
</body>
</html>