<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer">
		<hr />
		<div layout:fragment="footer">
			<div id="footer" class="fixed-bottom container text-center"
				style="background: midnightblue; line-height: 50px; vertical-align: middle;">
				Copyright &copy; Cinema e-grid All Rights Reserved.</div>
</body>
</html>