<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>

</head>
<body>
	<div class="header fixed-top container" layout:fragment="header">
		<div class="container">
			<br>
			<p class="title">Cinema e-grid</p>
		</div>
		<div class="container">
			<ul class="nav nav-pills nav-justified bg-secondary">

				<li class="nav-item pill1">
					<form action="/toppage" method="post">
						<input type="submit" class="nav-link pillslink" value="TOP">
				</li>
				</form>
				<li class="nav-item pill1">
					<form action="/mypage" method="post">
						<input type="submit" class="nav-link pillslink" value="MyPage">
				</li>
				</form>
				<li class="nav-item pill1">
					<form action="/schedule" method="post">
						<input type="submit" class="nav-link pillslink" value="Schedule">
				</li>
				</form>
				<li class="nav-item pill1">
					<form action="/user/access" method="post">
						<input type="submit" class="nav-link pillslink" value="Access">
				</li>
				</form>
			</ul>
			<br>
		</div>
	</div>
</body>
</html>