<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>

</head>
<body>
	<div class="header fixed-top container" layout:fragment="header">
		<div class="container">
			<br>
			<p class="title">Cinema e-grid</p>
		</div>
		<div class="container">
			<ul class="nav nav-pills nav-justified bg-secondary">
				<li class="nav-item pill1"><a href="/toppage" class="nav-link pillslink">TOP</a></li>
				<li class="nav-item pill1"><a href="/mypage" class="nav-link pillslink">MyPage</a></li>
				<li class="nav-item pill1"><a href="/schedule" class="nav-link pillslink">Schedule</a></li>
				<li class="nav-item pill1"><a href="#" class="nav-link pillslink">Access</a></li>
			</ul>
			<br>
		</div>
	</div>
</body>
</html>