<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>

</head>
<body>
	<div class="header" layout:fragment="header">
			<div class="container">
			<br>
				<h1 class="title">シネマ イーグリッド</h1>
				<br> <br>
			</div>
			<div class="container">
				<ul class="nav nav-pills nav-justified">
					<li class="nav-item"><a href="#" class="nav-link active">トップ</a></li>
					<li class="nav-item"><a href="#" class="nav-link">マイページ</a></li>
					<li class="nav-item"><a href="#" class="nav-link">上映スケジュール</a></li>
					<li class="nav-item"><a href="#" class="nav-link">アクセス</a></li>
				</ul>
				<br>
			</div>
		</div>
</body>
</html>