<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/Layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/Style.css}">
<head>
<meta charset="UTF-8">
<title>予約キャンセル</title>
</head>
<body>
	<div layout:fragment="contents"
		class="divContent d-flex align-items-center justify-content-center">
		<div class="container d-flex justify-content-center">
				<h3>予約をキャンセルしました</h3>
		</div>
		<div class="container d-flex justify-content-center">
			<div>
				<form action="/mypage/reservelog" method="get">
					<input type="submit" class="btn btn-info btn-lg mypage" value="戻る">
				</form>
			</div>
		</div>
	</div>
</body>
</html>