<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/loginStyle.css}">
<head>
<meta charset="UTF-8">
<title>予約コード発行</title>
</head>
<body>
		<div layout:fragment="contents">
			<h2 style="text-align: center">予約が完了しました！</h2>
			<div class="panel panel-default">
				<h2 class="bg-warning text-center" th:text="|予約コード:${code}|">成功（中央）</h2>
			</div>
		<form action="/login/schedule" method="post">
			<input type="submit" class="btn btn-primary text-center"
				role="button" value="完了">
		</form>
	</div>
</body>
</html>