<!-- iwai 編集中 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/notMemberLayout">
<head>
<meta charset="UTF-8">
<title>会員情報更新</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/Style.css}" />
</head>
<body>

	<div class="container">
		<div class="table-responsive">
			<form th:action="@{/admin/user/update}" th:object="${user}" method="post">
			<br>
			<p>更新したい項目を書き換えてください</p>
			<input type="hidden" name="user_id" th:field="*{user_id}">
			<input type="hidden" name="user_del_flg" value="0">
				<table class="table table-striped table-bordered">
					<tr>
						<td>メールアドレス</td>
						<td><input type="text" name="user_mail"
							th:value="*{user_mail}" th:field="*{user_mail}"
							style="width: 200px;">
							<span th:if="${#fields.hasErrors('user_mail')}"
							th:errors="*{user_mail}"
							th:errorclass="error-field">error!</span>
						</td>
					</tr>
					<tr>
						<td>名前</td>
						<td><input type="text" name="user_name"
							th:value="*{user_name}" th:field="*{user_name}"
							style="width: 200px;">
							<span th:if="${#fields.hasErrors('user_name')}"
							th:errors="*{user_name}"
							th:errorclass="error-field">error!</span>
						</td>
					</tr>
					<tr>
						<td>パスワード</td>
						<td><input type="password" name="password"
							th:value="*{password}" th:field="*{password}"
							style="width: 200px;">
							<span th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"
							th:errorclass="error-field">error!</span>
						</td>
					</tr>
					<tr>
						<td>権限</td>
						<td><input type="radio" name="authority" value="1"
							th:field="*{authority}">管理者
							<input type="radio" name="authority" value="2"
							 th:field="*{authority}">一般会員
							<input type="radio" name="authority" value="3"
							 th:field="*{authority}">経営者
							<span th:if="${#fields.hasErrors('authority')}"
							th:errors="*{authority}"
							th:errorclass="error-field">error!</span>
						</td>
					</tr>
					<tr>
						<td>ユーザー削除フラグ</td>
						<td><input type="radio" name="user_del_flg" value="0"
							th:field="*{user_del_flg}" disabled="disabled" checked>有効
							<input type="radio" name="user_del_flg" value="1"
							 th:field="*{user_del_flg}" disabled="disabled">削除
						</td>
					</tr>
				</table>
				<input type="submit" value="更新する" class="btn btn-outline-secondary"
					style="width: 80px; border-radius: 8px;">
			</form>
			<form action="/admin/alldisplay" method="post">
				<input type="submit" value="管理者メニューへ戻る" class="btn btn-outline-secondary"
					style="width: 200px; border-radius: 8px;">
			</form>
		</div>
	</div>
</div>
</body>
</html>