<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/notMemberLayout">
<head>
<meta charset="UTF-8">
<title>管理者ログイン画面</title>
</head>
<body>
<div layout:fragment="notMember_contents">
  <div class="login">
  <form action="/login/aaaaa" method="post">
  	管理者ID：<input type="text" name="adminId"><br>
  	<input type="submit" value="ログイン">
  </form>
  </div>
  <div layout:insert="~{Part/Footer::footer}"></div>
</div>
</body>
</html>