<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/loginStyle.css}">
<link
	href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>
  <div class="header">
	<br>
	<h1 class="title">Cinema e-grid</h1>
	<br> <br>
  </div>
  <div class="login">
	ログインしてください
	<p th:text="${msg}"></p>
	<form action="/login" method="post" th:object="${loginForm}">
		ID：<input type="text" name="id" th:field="*{id}"><br>
		パスワード：<input type="password" name="pass" th:field="*{pass}"><br>
		<input type="submit" value="ログイン">
	</form>
	<br>
	<p>会員でない方はこちら <a href="/login/userSubmit">会員登録</a></p>
  </div>
  <div layout:insert="~{Part/Footer::footer}"></div>
</body>
</html>