<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="contents" class="divall">
		<h1>テスト</h1>
		<h1>テスト</h1>
		<h1>テスト</h1>
		<h1>テスト</h1>
		<h1>テスト</h1>
		<h1>テスト</h1>

	</div>
</body>
</html>