@charset "UTF-8";
.header {
	background-color: midnightblue;
	text-align: center;
	border: 1px solid black;
	height: 130px;
}

.title {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 60px;
}

.login{
	padding-top: 50px;
	text-align: center;
	margin: 0 auto;

}