.header {
	background-color: midnightblue;
	text-align: center;
	border: 1px solid black;
	height: 180px;
}

.title {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 60px;
}

.pill1{
	color: black;
}

.divContent{
	margin: auto;
	padding-bottom: 60px;
}

.movieDisplay{
	border: 1px solid black;
}

.contents{
	padding-bottom: 60px;
}