.header {
	background-color: gray;
	text-align: center;
	border: 1px solid black;
	height: 180px;
}

.title {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 60px;
}

.pill1{
	color: black;
}

.divall{
	margin: auto;
}