<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/Layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="contents" class="divContent">
		<div class="container">
			<br>
			<div class="d-flex align-items-center justify-content-center">
				<h1>マイページ</h1>
			</div>
			<br>
			<div class="d-flex align-items-center justify-content-center">
				<a href="/mypage/reservelog" class="btn btn-info btn-lg mypage">チケット予約履歴</a>
				<form action="/login/myPage/userUpdate/0" method="post" name="myUpdateForm">
				  <a href="javascript:myUpdateForm.submit()" class="btn btn-info btn-lg mypage">プロフィール編集</a>
				</form>
				<form action="/logout" method="post" name="logoutForm">
				  <a href="javascript:logoutForm.submit()" class="btn btn-info btn-lg mypage">ログアウト</a>
				</form>
			</div>
			<br> <br>
			<div class="d-flex align-items-center justify-content-center">
				<form action="/login/delete" method="post">
					<button type="submit" class="btn btn-default btn-lg btn-danger">退会</button>
					<br> <br>
				</form>
			</div>
		</div>
	</div>
</body>
</html>