<!-- iwai 編集中 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/Layout">
<head>
<meta charset="UTF-8">
<title>店舗情報/アクセス</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/Style.css}">
</head>
<body>
	<div class="divContent" layout:fragment="contents">
			<br><h4>店舗情報/アクセス</h4>
			<div class="container">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr class="table-light">
							<th>店舗名</th>
							<th>住所</th>
						</tr>
						<tr th:each="s:${list}" th:if="*{s.store_del_flg} != 1">
							<td th:text="*{s.store_name}"></td>
							<td th:text="*{s.store_location}"></td>
						</tr>
					</table>
				</div>
			</div>
			<!--  -->
	</div>
</body>
</html>