<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/layout">
<head>
<meta charset="UTF-8">
<title>上映情報更新</title>
</head>
<body>
  <div layout:fragment="contents" class="divContent">
  	<p>編集してください</p>
  	<form action="/login/scheduleUpdate/check" method="post" th:object="${scheduleForm}">
  	  公開日：
  	  <input type="text" name="date" th:field="*{date}" th:errorclass="fieldError">
  	  <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
			th:errorclass="error-field">error!</span><br>
  	  映画タイトル：
  	  <input type="text" name="name" th:field="*{name}" th:errorclass="fieldError">
  	  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
			th:errorclass="error-field">error!</span><br>
  	  時間：
  	  <input type="text" name="movieTime" th:field="*{movieTime}" th:errorclass="fieldError">
  	  <span th:if="${#fields.hasErrors('movieTime')}" th:errors="*{movieTime}"
			th:errorclass="error-field">error!</span><br>
  	  年齢制限：
  	  <input type="text" name="ageLevel" th:field="*{ageLevel}" th:errorclass="fieldError">
  	  <span th:if="${#fields.hasErrors('ageLevel')}" th:errors="*{ageLevel}"
			th:errorclass="error-field">error!</span><br>
  	  内容<br>
  	  <textarea name="content" th:field="*{content}" cols="80" rows="10" th:errorclass="fieldError">
  	  </textarea>
  	  <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
			th:errorclass="error-field">error!</span><br>
  	  予約受付中<input type="radio" name="statusSchedule" th:value="*{0}">　
  	  予約受付終了<input type="radio" name="statusSchedule" th:value="*{1}"
  	  		th:errorclass="fieldError">　
  	  <span th:if="${#fields.hasErrors('statusSchedule')}" th:errors="*{statusSchedule}"
			th:errorclass="error-field">error!</span><br>
  	  <input type="hidden" name="no" th:field="*{no}">
  	  <input type="hidden" name="time" th:field="*{time}">
  	  <input type="submit" value="更新">
  	</form>
  	<form action="/login/schedule" method="post">
  	  <input type="submit" value="戻る">
  	</form>
  	<div class="table-responsive">
			<h5 id="movie">映画一覧</h5>
			<table class="table table-hover table-sm">
				<tr class="table-light">
					<th>映画NO.</th>
					<th>映画タイトル</th>
					<th>ジャンル1</th>
					<th>ジャンル2</th>
					<th>時間</th>
					<th>年齢制限</th>
					<th>公開日</th>
					<th>備考</th>
					</tr>
					<tr th:each="m:${mlist}" th:if="*{m.movie_del_flg} != 1">
					<td th:text="*{m.movie_no}"></td>
					<td th:text="*{m.movie_title}"></td>
					<td th:text="*{m.genre_name1}"></td>
					<td th:text="*{m.genre_name2}"></td>
					<td th:text="*{m.time}"></td>
					<th:block th:switch = "*{m.age_level}">
					<td th:case=1>G</td>
					<td th:case=2>PG12</td>
					<td th:case=3>R16</td>
					<td th:case=4>R18</td>
					</th:block>
					<td th:text="*{m.release_day}"></td>
					<td th:text="*{m.remarks}"></td>
					</tr></table>
  </div>
</body>
</html>