<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/layout">
<head>
<meta charset="UTF-8">
<title>イベント変更確認</title>
</head>
<body>
  <div layout:fragment="contents" class="divContent">
  <div th:object="${eventForm}">
  	イベントタイトル：<label th:text="*{eventTitle}"></label><br>
  	イベント内容<br>
  	<label th:text="*{eventContent}"></label><br>
  	更新日：<label th:text="*{updateDate}"></label><br>
  </div>
  	<form action="/login/eventUpdate/done" method="post" th:object="${eventForm}">
  		<input type="hidden" name="eventTitle" th:field="*{eventTitle}">
  		<input type="hidden" name="eventContent" th:field="*{eventContent}">
  		<input type="hidden" name="updateDate" th:field="*{updateDate}">
  		<input type="submit" value="はい" class="btn btn-outline-secondary btn-sm">
  	</form>
  	<form action="/login/eventUpdate/1" method="get" th:object="${eventForm}">
  		<input type="hidden" name="eventTitle" th:field="*{eventTitle}">
  		<input type="hidden" name="eventContent" th:field="*{eventContent}">
  		<input type="hidden" name="updateDate" th:field="*{updateDate}">
  		<input type="submit" value="戻る" class="btn btn-outline-secondary btn-sm">
  	</form>
  </div>
</body>
</html>