<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/layout">
<head>
<meta charset="UTF-8">
<title>退会</title>
</head>
<body>
<div layout:fragment="contents">
  <p>退会しますか？<br>
  退会するとこのサイトの全てのサービスが受けられなくなります。</p>
  <form action="/login/delete/done" method="post">
  	<input type="submit" value="退会する" class="btn btn-outline-secondary btn-sm">
  </form>
  <form action="/mypage" method="post">
  	<input type="submit" value="戻る" class="btn btn-outline-secondary btn-sm">
  </form>
</div>
</body>
</html>