<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/test_matsuo.css}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="header" layout:insert="~{Part/Header::header}"></div>

		<div layout:fragment="contents"></div>

		<div layout:insert="~{Part/Footer::footer}"></div>
	</div>

	<!-- プッシュテスト -->
	<!-- レイアウトテスト -->
</body>
</html>