<!-- yoshida 編集中 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout/notMemberLayout">
<head>
<head>
<meta charset="UTF-8">
<title>映画情報登録</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/Style.css}" />
</head>
<body>
<div layout:fragment="notMember_contents">
<div class="conteinter></div>
</div>
</body>
</html>