<!-- iwai 編集中 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>管理者メニュー画面</title>
<link rel="stylesheet" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/AdminStyle.css}">
<link
	href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
		<br>
			<p class="title">Cinema e-grid</p>
		</div>
		<hr />
		<div class="flex">
			<div class="left">
				<h2 style="display:inline">管理者メニュー</h2>
			</div>
			<div class="right">
			<form action="/logout" method="post" name="logoutForm">
				  <a href="javascript:logoutForm.submit()" class="btn btn-outline-secondary">ログアウト</a>
			</form>
			</div>
		</div>
		<br />
		<h5>一覧</h5>
			<ul class="nav">
				<li><a href="#user" class="nav-link active">会員一覧</a></li>
				<li><a href="#movie" class="nav-link">映画一覧</a></li>
				<li><a href="#store" class="nav-link">店舗一覧</a></li>
			</ul>
		<br />
		<h5>登録</h5>
			<ul class="nav">
				<li><form method="post" name="formUser" action="/login/userAdminSubmit">
				<a href="javascript:formUser.submit()" class="nav-link active">会員登録</a>
				</form></li>
				<li><form method="post" name="formMovie" action="/admin/movie/submit">
				<a href="javascript:formMovie.submit()" class="nav-link">映画登録</a>
				</form></li>
				<li><form method="post" name="formStore" action="/admin/store/submit">
				<a href="javascript:formStore.submit()" class="nav-link">店舗登録</a>
				</form></li>
			</ul>
		<span id="errormsg" th:text="${msg}">error!</span>
		<hr />
		<div class="table-responsive">
			<h5 id="user">会員一覧</h5>
			<table class="table table-hover table-sm " id="user">
				<tr class="table-light">
					<th>ユーザーID</th>
					<th>メールアドレス</th>
					<th>名前</th>
					<th>パスワード</th>
					<th>権限</th>
					<th>ユーザー削除フラグ</th>
					<th>変更</th>
					<th>削除</th>
				</tr>
				<tr th:each="u:${ulist}">
					<td th:text="*{u.user_id}"></td>
					<td th:text="*{u.user_mail}"></td>
					<td th:text="*{u.user_name}"></td>
					<td th:text="*{u.password}"></td>
					<th:block th:switch = "*{u.authority}">
					<td th:case=1>管理者</td>
					<td th:case=2>一般会員</td>
					<td th:case=3>経営者</td>
					</th:block>
					<td th:text="*{u.user_del_flg == '0'} ? 有効:削除済"></td>
					<th:block th:if="*{u.user_del_flg != '1'}">
					<td><form th:action="@{/admin/user/update(ID=*{u.user_id})}" method="post">
							<input type="submit" value="更新" class="btn btn-outline-secondary btn-sm"
								style="border-radius: 8px;">
						</form>
					</td>
					<td><button type="button" class="btn btn-secondary btn-sm"
								style="border-radius: 8px;">削除</button></td>
					</th:block>
					<th:block th:unless="*{u.user_del_flg != '1'}">
					<td><button type="button" class="btn btn-secondary btn-sm"
								style="border-radius: 8px;">退会</button></td>
					<td><form th:action="@{/admin/user/delete(ID=*{u.user_id})}" method="post">
							<input type="submit" value="削除" class="btn btn-outline-secondary btn-sm"
								style="border-radius: 8px;">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="container">
	<hr />
		<div class="table-responsive">
			<h5 id="movie">映画一覧</h5>
			<table class="table table-hover table-sm">
				<tr class="table-light">
					<th>映画NO.</th>
					<th>映画タイトル</th>
					<th>ジャンル1</th>
					<th>ジャンル2</th>
					<th>時間</th>
					<th>年齢制限</th>
					<th>公開日</th>
					<th>備考</th>
					<th>映画削除フラグ</th>
					<th>変更</th>
					<th>削除</th>
				</tr>
				<tr th:each="m:${mlist}" th:if="*{m.movie_del_flg} != 1">
					<td th:text="*{m.movie_no}"></td>
					<td th:text="*{m.movie_title}"></td>
					<td th:text="*{m.genre_name1}"></td>
					<td th:text="*{m.genre_name2}"></td>
					<td th:text="*{m.time}"></td>
					<th:block th:switch = "*{m.age_level}">
					<td th:case=1>G</td>
					<td th:case=2>PG12</td>
					<td th:case=3>R16</td>
					<td th:case=4>R18</td>
					</th:block>
					<td th:text="*{m.release_day}"></td>
					<td th:text="*{m.remarks}"></td>
					<td th:text="*{m.movie_del_flg == 0} ? 有効:削除済"></td>
					<td><a th:href="@{/admin/movie/update(No=*{m.movie_no})}">
							<button type="button" class="btn btn-outline-secondary btn-sm"
								style="border-radius: 8px;">更新</button>
					</a></td>
					<td><a th:href="@{/admin/movie/delete(No=*{m.movie_no})}">
							<button type="button" class="btn btn-outline-secondary btn-sm"
								style="border-radius: 8px;">削除</button>
					</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="container">
	<hr />
		<div class="table-responsive">
			<h5 id="store">店舗一覧</h5>
			<table class="table table-hover table-sm">
				<tr class="table-light">
					<th>店舗NO.</th>
					<th>店舗名</th>
					<th>住所</th>
					<th>店舗削除フラグ</th>
					<th>変更</th>
					<th>削除</th>
				</tr>
				<tr th:each="s:${slist}" th:if="*{s.store_del_flg} != 1">
					<td th:text="*{s.store_no}"></td>
					<td th:text="*{s.store_name}"></td>
					<td th:text="*{s.store_location}"></td>
					<td th:text="*{s.store_del_flg == 0} ? 有効:削除済"></td>
					<td><form th:action="@{/admin/store/update(No=*{s.store_no})}" method="post">
							<input type="submit" value="更新" class="btn btn-outline-secondary btn-sm"
								style="border-radius: 8px;">
						</form>
					</td>
					<td><form th:action="@{/admin/store/delete(No=*{s.store_no})}" method="post">
							<input type="submit" value="削除" class="btn btn-outline-secondary btn-sm"
								style="border-radius: 8px;">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id=AdminFooter>
		<a href="#" id="page-top">TOP</a>
	</div>
</body>
</html>